body{
    background-color: rgb(62, 118, 118);
}
h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-line: underline;
    text-shadow: 3px 4px 5px rgb(3, 248, 3);
}
#p1{
    color: rgba(127, 246, 7, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p1{
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-indent: 50px;
}
#div1{
    border: 25px solid rgb(16, 160, 221);
    border-radius: 25px;
    padding: 25px;
    margin: 50px;
    background:linear-gradient(to bottom left, red, yellow, green, black);
    width: 300px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(12, 14, 15);
}
h1{
    border: 10px ridge rgb(8, 240, 8);
    background-color: rgb(216, 231, 14);
    width: 40%;
    margin: 50px;
    border-radius: 10px;
}
.inline{
    display:inline;
    color: aquamarine;
}
span{
    border: 2px solid;
    display: block;
    color: aquamarine;
}
.inlineBloc1{
    border: 2px solid greenyellow;
    display: inline-block;
    width: 50%;
}
.inlineBloc2{
    border: 2px solid greenyellow;
    display: inline-block;
    width: 30%;
}
#position{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 80px;
}
.relative{
    position: relative;
    left: 50px;
}
#absolue{
    position: absolute;
    bottom: -20px;
    right: 0px;
}

#div2{
    border: 2px solid rgb(16, 160, 221);
    border-radius: 2px;  
    background-color: rgb(5, 241, 241);
    width: 300px;
    height: 80px;
    overflow: auto;
    margin-left: 20px;
    
}
#pfloat1{
   
    float: right;
}
#deborde{
    border: 5px solid greenyellow;
    background-color: black;
    color: white;
    width: 250px;
    height: 100px;
    overflow: scroll;
}
#div3{
    height: 100px;
    width: 300px;
    background:radial-gradient(circle, red, yellow, green);
    margin: 0px auto;
}
table{
    border-collapse: collapse;
    margin-left: 45%;
    background-color: rgb(27, 91, 194);
    text-shadow: 3px 3px 0px rgb(10, 10, 10);
}
td{
    border: solid;
    color: aqua;
    padding: 10px;
}
#table{
    background-color: rgb(166, 166, 68);

}
th{
    border: solid aqua;
    background-color: rgb(63, 127, 183);
    color: white;
    padding: 15px;
}
#divtab{
    background-color: rgb(105, 147, 184);
    
}

#table3{
    background-color: gray;
    text-transform: uppercase;
    margin-left: 25%;
}
tfoot{
    background-color: rgb(127, 175, 54);
}
.th{
    background-color:  rgb(127, 175, 54);
}
.capt{
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: underline;
    color: aliceblue;
}
img{
    width: 300px;
    margin: 10px;
    border: 2px solid ghostwhite;
    box-shadow: 0px 0px 20px beige;
}



button:hover{
    color: chartreuse;
    background-color: black;
}

.change:link{
    color: blanchedalmond;
}

.change:visited{
    color: aqua;
}

#btntrans{
    width: 100px;
    height: 100px;
    color: aqua;
    background-color: rgb(43, 35, 35);
    border-radius: 20%;
    transition: width 2s, background-color 5s, color 3s, font-size 3s;
}
#btntrans:hover{
    width: 300px;
    background-color: aqua;
    color: rgb(37, 30, 30);
    font-size: 50px;
}

#btntrans2{
    width: 100px;
    height: 100px;
    background-color: black;
    color: rgb(201, 239, 7);
    border-radius: 50px;
    position: relative;
    animation-name: changecolor;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changecolor{
    0%{background-color: aqua; top:0px; left: 0px; }
    25%{background-color: blanchedalmond; color: black; top: 0px; left: 200px;}
    50%{background-color: brown; color: white; font-size: 18px; top: 150px; left: 200px;}
    75%{background-color: rgb(0, 128, 255); top: 150px; left: 0px;}
    100%{background-color: gold; color: black; top: 0px; left: 0px;}
}